<div class="container">
  <div class="toolbar">
    <button mat-flat-button color="primary" (click)="openClientDialog()">
      <mat-icon>add</mat-icon>
      Добавить клиента
    </button>
    <button mat-flat-button color="accent" [disabled]="selection.selected.length !== 1" (click)="editSelectedClient()">
      <mat-icon>edit</mat-icon>
      Редактировать
    </button>
    <button mat-flat-button color="warn" [disabled]="selection.isEmpty()" (click)="deleteSelectedClients()">
      <mat-icon>delete_sweep</mat-icon>
      Удалить выбранные ({{selection.selected.length}})
    </button>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Телефон </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" class="clickable-row"></tr>
    </table>
  </div>
</div>
